body{
    margin:0;
    padding: 0;
}
body:before{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS-bnQxl1aUmje6LezfM8AOUXlApBYT1zrSGw&usqp=CAU");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: opacity(0.7);
}
.contact-form{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);    
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    padding: 80px 40px;
    background: rgba(0,0,0,0.6);
}

.avtar{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    top: calc(-80px/2);
    left: calc(50% - 40px);  
}
.contact-form h2{
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.contact-form p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

.contact-form input{
    width: 100%;
    margin-bottom: 20px;
}
.contact-form input[type=text],
.contact-form input[type=email],
.contact-form input[type=password]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 15px;
}
.contact-form button
{
    margin:auto;
    width: 40%;
    display: block;
    height: 30px;
    background-color: green;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none ;
    margin-top: 15%;
    border: none;
    outline: none;
}
h2 {
    /* border-right: solid 3px rgba(0,255,0,.75); */
    white-space: nowrap;
    overflow: hidden;    
    font-size: 28px;
    color: black;
    margin: 0 auto;
  }
  
  /* Animation */
h2 { 
    animation: animated-text 1s steps(29,end) 1s 1 normal both,animated-cursor 600ms steps(29,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0px;}
    to{width: 330px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: rgba(0,0,0,0.6);}
    to{border-right-color: transparent;}
  }
